.u-text-pink {
  color: $main-pink;
}

.u-txt-b{
  color: $black!important;
}


.u-txt-w2{
  color: $white-2!important;
}
.u-txt-w3{
  color: $white-3!important;
}
.u-txt-p {
  color: $main-pink!important;
}

.u-txt-grey {
  color: $grey!important;
}
