@import "./_text.scss";
/*=====================
    汎用
=======================*/
@mixin u-clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

//beforeで使う
.u-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  //background: #333;
  //opacity: 0.4;
  background-color: rgba(0,0,0,0.4);
}

.u-cover-mask {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    //background: #333;
    //opacity: 0.4;
    background-color: rgba(0,0,0,0.4);
  }
}


@for $i from 1 through 10 {
  .u-opa-#{$i} {

      opacity: #{ $i / 10 };
  } 
}
/*=====================
   レスポンシブ用
=======================*/
@mixin u-sm {
  @media (min-width: 576px) {
      @content;
  }
}

@mixin u-md {
  @media screen and (min-width: 768px) {
      @content;
  }
}

@mixin u-lg {
  @media screen and (min-width: 992px) {
      @content;
  }
}

@mixin u-xl {
  @media screen and (min-width: 1200px) {
      @content;
  }
}



//max系

@mixin u-sm-max {
  @media (max-width: 576px) {
      @content;
  }
}

@mixin u-md-max {
  @media screen and (max-width: 768px) {
      @content;
  }
}

@mixin u-lg-max {
  @media screen and (max-width: 992px) {
      @content;
  }
}

@mixin u-xl-max {
  @media screen and (max-width: 1200px) {
      @content;
  }
}

.u-sp {
  display: none;
  @media screen and (max-width: 414px) {
    display: block;
  }
}

.u-pc {
display: none;
  @media screen and (min-width: 415px) {
    display: block;
  }
}
/*=====================
  　コンテイナー
=======================*/
.u-container-md-50 {
  margin-left: auto;
  margin-right: auto;
  @include u-md {
    width: 50%;
  }
}

.u-conainer-y {
  padding-top: 130px;
  padding-bottom: 80px;
}
.u-conainer-y--short {
  padding-top: 100px;
  padding-bottom: 80px;
}
/*=====================
   領域系
=======================*/


@for $i from 1 through 6 {
  .u-inner-#{$i * 20 } {
    padding-top: #{$i * 20px};
    padding-bottom:#{$i * 20px};
  }
}

@for $i from 1 through 6 {
  .u-outer-#{$i * 20 }{
    margin-top: #{$i * 20px};
    margin-bottom:#{$i * 20px};
  }
}

@for $i from 1 through 20 {
  .u-w-#{$i * 5} {
    width: #{$i * 5 + "%"};
  }
}

@for $i from 1 through 20 {
  .u-w-#{$i * 5}-parent {

    > {
      width: #{$i * 5 + "%"};
    }
  }
}


@for $i from 1 through 20 {
  .u-pl-md-#{$i * 5} {

    @include u-md {
      padding-left: #{$i * 5 + "%"};
    }
  }
  .u-pr-md-#{$i * 5} {

    @include u-md {
      padding-right: #{$i * 5 + "%"};
    }
  }
  
}
@for $i from 0 through 20 {
  .u-mt-#{$i * 10} {
    margin-top: #{$i * 10 + "px"};
  }
  .u-mb-#{$i * 10} {
    margin-bottom: #{$i * 10 + "px"};
  }
}

/*=====================
      レイアウト組
=======================*/
.u-align {
  text-align: center;

  > * {
    display: inline-block;
  }
}

.u-f-l {
  @include u-clearfix;
  > * {
    float: left;
  }
}
.u-f-r {
  @include u-clearfix;
  > * {
    float: right;
  }
}

@for $i from 1 through 10 {
  .u-f-l-#{$i} {
    @include u-clearfix;
    > * {
      width: #{ 100.00000000 / $i  + "%"};
      float: left;
    }
  } 
}
@for $i from 1 through 10 {
  .u-f-r-#{$i} {
    @include u-clearfix;
    > * {
      width: #{ 100.00000000 / $i  + "%"};
      float: right;
    }
  }
}

/*=====================
  　中央揃え
=======================*/
.u-center-y { 
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
}

@mixin u-center { 
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
}


@mixin u-center--y($width, $height) { 
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  width: $width; 
  height: $height;
}
/*=====================
   ラッパー
=======================*/

.u-wrapper--none {
  //border-radius: 4px;
  //box-shadow: 1px 1px 2px #b8b8b8;
  background: none;
  height: 100%;
  display: flex;
  align-items: center;
}
.u-wrapper {
  //border-radius: 4px;
  //box-shadow: 1px 1px 2px #b8b8b8;
  background: #ffffff;
  height: 100%;
  display: flex;
  align-items: center;
}

.u-wrapper--white {
  //border-radius: 4px;
  //box-shadow: 1px 1px 2px #b8b8b8;
  background: #ffffff;
  height: 100%;
  display: flex;
  align-items: center;
}

.u-wrapper--tp {
  
  background: transparent;
  height: 100%;
  display: flex;
  align-items: center;

}

.u-wrapper-text--white {
  padding: 24px;
  background: #ffffff;
  * {
    color: #333;
  }
}


.u-wrapper-text--tp {
  padding: 24px;
  background: transparent;

}



/*=====================
  背景
=======================*/
.u-bg-l {
  background-position: left!important;
}

.u-bg-r {
  background-position: right!important;
}
.u-bg-tr {
  background: transparent;
}
/*=====================
  absolute
=======================*/

@for $i from 0 through 10 {
  .u-r-#{$i * 10} {
    right: #{$i * 10 + "%"};
  }

  .u-r-md-#{$i * 10} {
    @include u-md {
      right: #{$i * 10 + "%"};
    }
  }

  .u-l-#{$i * 10} {
    left: #{$i * 10 + "%"};
  }

  .u-l-md-#{$i * 10} {
    @include u-md {
      left: #{$i * 10 + "%"};
    }
  }
}


/*=====================
  transform
=======================*/
@for $i from 0 through 10 {
  .u-tf-x-#{$i * 10} {
    transform: translateX(#{ $i * 10 + "%"});
  }
}


/*=====================
  display
=======================*/

.u-none {
  display: none!important;
}
.u-inline-block {
  display: inline-block!important;
}

/*=====================
  位置系
=======================*/

.u-ty-10--sp {
  @include u-sm-max {
    transform: translateY(10vh);
  }
}
/*=====================
  ページごとのフォント
=======================*/