.c-g-nav {

  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  
  a {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
  }

  a {
    color: black;
  }
}

.c-f-nav {
  //background: green;
  a {
    display: inline-block;
  }
  p {
    padding-top: 16px;
    padding-bottom: 16px;
    padding: 16px 24px 16px 0;

    &:before {
      content: ">";
      display: inline-block;
      height: 20px;
      width: 20px;
      
    }
  }
}

/*===========
  button
===========*/
.c-Btn {
  border: 0;
  border-radius: 8px;
  box-shadow: 3px 3px 3px #b8b8b8;
  padding: 20px 100px;
  color: #333;

  transition: all 1s;
}

.c-Btn:hover {
  cursor: pointer;
  background: blue;
  color: #fff;
  box-shadow: 3px 10px 20px #cBcBcB;
  transform: translateY(-2px);

  transition: all 1s;
}
.c-Btn--sizing {
  font-size: 24px;
  padding: 10px 20px;
}

@import "_navbar.scss";


.cp_link {
	//padding: 0.1em 0.3em;
	position: relative;
	display: inline-block;
	transition: .6s;
	color: #333;
}
.cp_link::after {
	position: absolute;
	bottom: 12px;
	left: 0;
	content: '';
	width: 0;
	height: 1px;
	background-color: #333;
	transition: .6s;
}
.cp_link:hover::after {
	width: 100%;
}

@import "header";