
.l-Back{

  @at-root {
    .l-Back__img{
     background: url("../images/hero.jpg") no-repeat;
     background-size: 100%;
     
    }
  }}
  
  
  .l-Back2{
  
    @at-root {
      .l-Back2__img{
       background: url("../images/hero.jpg") no-repeat;
       background-size: 100%;
       
      }
    }}