
.l-Deep {
 li {
   position: relative;
 }
}

.l-Deep__img {
  @include u-md {
    //position: absolute;
    //top: 0;
    //bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }
  img {
    width: 100%;
  }
}

.l-Deep__detail {
  @include u-md {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 10% 0 10% 0;
  }
}




/*.l-Deep  {
  @at-root {
    .l-Deep__img {
      
      img {
        object-fit: contain;
        width: 100%;
      }
    }
  }


  li {
    @include u-md {
      overflow: hidden;   
    } 
  }
  .l-Deep__detail {
    width: 40%;
    @include u-sm-max {
      position: static!important;
      width: 100%;
    }
  }

  @include u-md {
    li:nth-child(even) {
      .l-Deep__img {
        margin-right: 40%;
      }
      .l-Deep__detail {
        right: 20%;
      }
    }

    li:nth-child(odd) {
      .l-Deep__img {
        margin-left: 40%;
      }
      .l-Deep__detail {
        left: 20%;
      }
    }

    @at-root {
      .l-Deep__detail {
        @include u-center;
        margin-top: auto;
        margin-bottom: auto;
        height: 70%;
      }
    }
  }
}
/*
<section class='top-Products u-outer-120 container-fluid l-Deep'>
<h2 class='text-center'>l-Deep (img(余白寄せ)　と　abosluteテキスト)</h2>
<ul class='my-5'>
  <li class='position-relative'>
    <div class='l-Deep__img'>
      <picture>
        <source media='(min-width: 768px)' srcset='../images/hero.jpg'>
        <source media='(min-width: 321px)' srcset='../images/hero.jpg'>
        <img class='img-fluid' src='../images/hero.jpg' alt='IAキャラクター' >
      </picture>
    </div>
    <div class='position-absolute l-Deep__detail'>
      <div class='u-wrapper--white'>
        <div class='u-wrapper-text--white'>
          <h3>Products 1</h3>
          <h4>sub</h4>
          <p>text text text text text text text text text text text text text text texttext text text text text text text text text text text text text text text </p>
        </div>
      </div>
    </div>
  </li>

  <li class='position-relative'>
    <div class='l-Deep__img'>
      <picture>
        <source media='(min-width: 768px)' srcset='../images/hero.jpg'>
        <source media='(min-width: 321px)' srcset='../images/hero.jpg'>
        <img class='img-fluid' src='../images/hero.jpg' alt='IAキャラクター' >
      </picture>
    </div>
    <div class='position-absolute l-Deep__detail'>
      <div class='u-wrapper--white'>
        <div class='u-wrapper-text--white'>
          <h3>Products 1</h3>
          <h4>sub</h4>
          <p>text text text text text text text text text text text text text text texttext text text text text text text text text text text text text text text </p>
        </div>
      </div>
    </div>
  </li>

</ul>
</section>

*/